<% if current_user %>
      Welcome <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
    <% end %>
   
<h1>Create New Blog</h1>

<%= render 'form', blog: @blog %>

<%= link_to 'Back', blogs_path %>
