<h1>Welcome</h1>
<%= link_to 'New Blog', new_blog_path %>
<h1><Blogs></h1>
    <p>
      <h3>BlogSearch</h3> <%= text_field_tag :search, params[:search], :class => "textfield-search" %>
      <%= submit_tag "Search", :name => nil, :class => "search-button" %>
    </p>


<%= @blog %>

